$basic: #333333; 
$contrast: #FFFFFF;
$ligher: #AAAAAA;
$highlight: #993300;

$background: #EBEBEB;
html {

    background-color:$background;
}
body {
    font-size:12px;
    font-family:verdana,'sans serif';
    text-align:center;
}
h1 {
    font-size:130%;
    font-weight:bold;
    color:$highlight;
    border-bottom:1px solid $ligher;
    margin-bottom:15px;
}


.page {
    width:900px;
    margin:auto auto;
    text-align:left;
    border:1px solid $basic;
}
.content {
    margin:10px;
}



.menu  {
    width:100%;
    padding:10px 0px;
    color:$ligher;
    background-color:$basic;
    a {
        color:$ligher;
    }
    li {
        display:inline;
        padding:0px 15px;
        cursor:pointer;
    }
    li:hover {
        color:$highlight;
    }
}

.footer {
    @extend .menu;
    font-size:80%;
    li:hover {
        color: $ligher;
    }
}

a {
    color: $basic;
    text-decoration:none;
}
a:hover {
    color: $highlight;
}
