$basic: #333333; 
$contrast: #DDDDDD;
$lighter: #AAAAAA;
$highlight: #993300;
$error: #C65B5B;
$success: #99EE44;

$background: #EBEBEB;
html {

    background-color:$background;
}
body {
    font-size:12px;
    font-family:verdana,'sans serif';
    text-align:center;
}
h1 {
    font-size:130%;
    font-weight:bold;
    color:$highlight;
    border-bottom:1px solid $lighter;
    margin-bottom:15px;
}
h2 {
    font-size:110%;
    font-weight:bold;
    color:$highlight;
    margin-bottom:10px;
}
table#manage-users {
    width:100%;
    td {
        padding:3px;
        text-align:center;
        border:1px solid $lighter;
    }
    thead {
        background-color:$basic;
        color:$contrast;
    }
    tbody {
        tr td:first-child {
            background-color:$basic;
            color:$contrast;
            text-align:left;
        }
        tr:hover {
            td:not(:first-child) {
                background-color:$contrast;
                cursor:pointer;
            }
        }
    }
}


.page {
    width:900px;
    margin:auto auto;
    text-align:left;
    border:1px solid $basic;
}
.content {
    margin:10px;
    p {
        text-align:left;
        margin: {
            top: 5px;
            bottom:5px;
        }
    }
}



.menu  {
    font-size:80%;
    width:100%;
    padding:10px 0px;
    color:$lighter;
    background-color:$basic;
    a {
        color:$lighter;
    }
    li {
        display:inline;
        padding:0px 5px;
        cursor:pointer;
    }
    li:hover {
        color:$highlight;
    }
}

.footer {
    @extend .menu;
    li:hover {
        color: $lighter;
    }
}

a {
    color: $basic;
    text-decoration:none;
}
a:hover {
    color: $highlight;
}

.form {
    label {
        padding:4px;
        padding-left:14px;
        color:$basic;
    }

    input {
        font-size:10px;
        padding:2px;
        width:250px;
    }
    input[type="checkbox"] {
        width:25px;
    }
    input[type="checkbox"] {
        width:25px;
    }
    textarea {
        width:250px;
        padding:2px;
        font-size:10px;
        height:75px;
    }
    .row {
        margin-top:5px;
    }
    .row.submit {
        margin-top:15px;
    }
    .errorSummary {
        padding:15px;
        background-color:$error;
        border:1px solid $highlight;
        p {
            font-weight:bold;
        }
        li {
            list-style-type: square;
            margin-left:20px;
            margin-top:5px;
        }
    }
}
.notification {
    padding:15px;
    background-color:$success;
    border:1px solid $highlight;
}




strong {
    font-weight:bold;
}



