html {
  background-color: #ebebeb; }

body {
  font-size: 12px;
  font-family: verdana,'sans serif';
  text-align: center; }

h1 {
  font-size: 130%;
  font-weight: bold;
  color: #993300;
  border-bottom: 1px solid #aaaaaa;
  margin-bottom: 15px; }

h2 {
  font-size: 110%;
  font-weight: bold;
  color: #993300;
  margin-bottom: 10px; }

table#manage-users {
  width: 100%; }
  table#manage-users td {
    padding: 3px;
    text-align: center;
    border: 1px solid #aaaaaa; }
  table#manage-users thead {
    color: #dddddd; }
    table#manage-users thead td:not(:first-child) {
      background-color: #333333; }
  table#manage-users tbody tr td:first-child {
    background-color: #333333;
    color: #dddddd;
    text-align: left; }
  table#manage-users tbody tr:hover td:not(:first-child) {
    background-color: #dddddd;
    cursor: pointer; }

.page {
  width: 900px;
  margin: auto auto;
  text-align: left;
  border: 1px solid #333333; }

.content {
  margin: 10px; }
  .content p {
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px; }

.menu, .footer {
  font-size: 80%;
  width: 100%;
  padding: 10px 0px;
  color: #aaaaaa;
  background-color: #333333; }
  .menu a, .footer a {
    color: #aaaaaa; }
  .menu li, .footer li {
    display: inline;
    padding: 0px 5px;
    cursor: pointer; }
  .menu li:hover, .footer li:hover {
    color: #993300; }

.footer li:hover {
  color: #aaaaaa; }

a {
  color: #333333;
  text-decoration: none; }

a:hover {
  color: #993300; }

.form label {
  padding: 4px;
  padding-left: 14px;
  color: #333333; }
.form input {
  font-size: 10px;
  padding: 2px;
  width: 250px; }
.form input[type="checkbox"] {
  width: 25px; }
.form input[type="checkbox"] {
  width: 25px; }
.form textarea {
  width: 250px;
  padding: 2px;
  font-size: 10px;
  height: 75px; }
.form .row {
  margin-top: 5px; }
.form .row.submit {
  margin-top: 15px; }
.form .errorSummary {
  padding: 15px;
  background-color: #c65b5b;
  border: 1px solid #993300; }
  .form .errorSummary p {
    font-weight: bold; }
  .form .errorSummary li {
    list-style-type: square;
    margin-left: 20px;
    margin-top: 5px; }

.notification {
  padding: 15px;
  background-color: #99ee44;
  border: 1px solid #993300;
  margin: 10px; }

strong {
  font-weight: bold; }
