$basic: #333333; 
$contrast: #DDDDDD;
$lighter: #AAAAAA;
$highlight: #993300;
$error: #C65B5B;
$success: #99EE44;

$odd: #DEDEDE;
$even: #e6e6e6;

$background: #EBEBEB;
html {

    background-color:$background;
}
body {
    font-size:12px;
    font-family:verdana,'sans serif';
    text-align:center;
}
h1 {
    font-size:130%;
    font-weight:bold;
    color:$highlight;
    border-bottom:1px solid $lighter;
    margin-bottom:15px;
}
h2 {
    font-size:110%;
    font-weight:bold;
    color:$highlight;
    margin-bottom:10px;
}
h3 {
    font-size:100%;
    font-weight:bold;
    color:$highlight;
}
table#manage-users {
    width:100%;
    td {
        padding:3px;
        text-align:center;
        border:1px solid $lighter;
    }
    thead {
        color:$contrast;
        td:not(:first-child) {
            background-color:$basic;
        }
    }
    tbody {
        tr td:first-child {
            background-color:$basic;
            color:$contrast;
            text-align:left;
        }
        tr:hover {
            td:not(:first-child) {
                background-color:$contrast;
                cursor:pointer;
            }
        }
    }
}

.icons-small { background: url(../gfx/icons-small.png) no-repeat top left; margin:0px; }
.icons-small:hover { background-image: url(../gfx/icons-small-orange.png); }
.icon-small-back{ background-position: 0 0; width: 16px; height: 16px; } 
.icon-small-edit{ background-position: 0 -21px; width: 16px; height: 16px; } 
.icon-small-plus{ background-position: 0 -42px; width: 16px; height: 16px; } 
.icon-small-trash{ background-position: 0 -63px; width: 16px; height: 16px; } 
.icon-small-users{ background-position: 0 -84px; width: 16px; height: 16px; } 

.page {
    width:900px;
    margin:auto auto;
    text-align:left;
    border:1px solid $basic;
}
.content {
    margin:10px;
    p {
        text-align:left;
        margin: {
            top: 5px;
            bottom:5px;
        }
    }
}



.menu  {
    font-size:80%;
    width:100%;
    padding:10px 0px;
    color:$lighter;
    background-color:$basic;
    a {
        color:$lighter;
    }
    li {
        display:inline;
        padding:0px 5px;
        cursor:pointer;
    }
    li:hover {
        color:$highlight;
    }
}

.footer {
    @extend .menu;
    li:hover {
        color: $lighter;
    }
}

a {
    color: $basic;
    text-decoration:none;
}
a:hover {
    color: $highlight;
}

.form {
    label {
        padding:4px;
        padding-left:14px;
        color:$basic;
        font-weight:bold;
    }

    input {
        font-size:10px;
        padding:2px;
        width:390px;
    }
    select {
        margin:0px;
        width:300px;
    }
    input[type="checkbox"] {
        width:25px;
    }
    input[type="checkbox"] {
        width:25px;
    }
    textarea {
        width:390px;
        padding:2px;
        font-size:10px;
        height:100px;
    }
    .row {
        clear:both;
        margin-top:5px;
        .attachment {
            padding:5px 0px;
        }
    }
    .row.submit {
        margin-top:15px;
    }
    
    .errorSummary {
        padding:15px;
        background-color:$error;
        border:1px solid $highlight;
        p {
            font-weight:bold;
        }
        li {
            list-style-type: square;
            margin-left:20px;
            margin-top:5px;
        }
    }
}
.notification {
    padding:15px;
    background-color:$success;
    border:1px solid $highlight;
    margin:10px;
}

.dashboard, .task-list {
    .entry {

        padding:3px 10px;
        h3 {
            font-size:110%;
            color:$basic;
            cursor:pointer;
        }
        .subtitle {
            margin:3px 0px;
            display:block;
        }
        .entry-description {
            margin-right:50px;
            margin-left:10px;
            font-size:80%;
            h2 {
                margin-top:10px;
                margin-left:15px;
            }
            p {
                margin-left:25px;
            }
        }
        .entry-inline-info {
            display:table-row;
            margin-left:5px;
            margin-right:5px;
            margin-top:-2px;
            font-size:70%;
            div.table-cell {
                vertical-align:middle;
                text-align:center;
                margin:0px 10px;
                height:20px;
                padding:0px 10px;
            }
        }
        .entry-content {
            display:none;
        }
        &:nth-child(2n) {
            background-color:$odd;
        }
        &:nth-child(2n+1) {
            background-color:$even;
        }
    }
    .entry-with-margins {
        margin-bottom:10px;
        margin-top:10px;
    }
    ul.actions {
        float:right;
        li {
            margin:4px;
        }
    }
}
.task-actions {
    position:relative;
    top:-35px;
    li {
        margin:0px 5px;
    }
    
}

strong {
    font-weight:bold;
}
.float-left {
    float:left;
}

.float-right {
    float:right;
}
.clear-both {
    clear:both;
}
.table-row {
    display:table-row;
}
.table-cell {
    display:table-cell;
}
.hidden {
    display:none;
}
.cursor {
    cursor:pointer;
}
.padding-left-medium {
    padding-left:10px;
}

