html {
  background-color: #ebebeb; }

body {
  font-size: 12px;
  font-family: verdana,'sans serif';
  text-align: center; }

h1 {
  font-size: 130%;
  font-weight: bold;
  color: #993300;
  border-bottom: 1px solid #aaaaaa;
  margin-bottom: 15px; }

h2 {
  font-size: 110%;
  font-weight: bold;
  color: #993300;
  margin-bottom: 10px; }

h3 {
  font-size: 100%;
  font-weight: bold;
  color: #993300; }

table#manage-users {
  width: 100%; }
  table#manage-users td {
    padding: 3px;
    text-align: center;
    border: 1px solid #aaaaaa; }
  table#manage-users thead {
    color: #dddddd; }
    table#manage-users thead td:not(:first-child) {
      background-color: #333333; }
  table#manage-users tbody tr td:first-child {
    background-color: #333333;
    color: #dddddd;
    text-align: left; }
  table#manage-users tbody tr:hover td:not(:first-child) {
    background-color: #dddddd;
    cursor: pointer; }

.icons-small {
  background: url(../gfx/icons-small.png) no-repeat top left;
  margin: 0px; }

.icons-small:hover {
  background-image: url(../gfx/icons-small-orange.png); }

.icon-small-back {
  background-position: 0 0;
  width: 16px;
  height: 16px; }

.icon-small-edit {
  background-position: 0 -21px;
  width: 16px;
  height: 16px; }

.icon-small-plus {
  background-position: 0 -42px;
  width: 16px;
  height: 16px; }

.icon-small-trash {
  background-position: 0 -63px;
  width: 16px;
  height: 16px; }

.icon-small-users {
  background-position: 0 -84px;
  width: 16px;
  height: 16px; }

.page {
  width: 980px;
  margin: auto auto;
  text-align: left;
  border: 1px solid #333333; }

.content {
  margin: 10px; }
  .content p {
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px; }

.menu, .footer {
  font-size: 80%;
  width: 100%;
  padding: 10px 0px;
  color: #aaaaaa;
  background-color: #333333; }
  .menu a, .footer a {
    color: #aaaaaa; }
  .menu li, .footer li {
    display: inline;
    padding: 0px 5px;
    cursor: pointer; }
  .menu li:hover, .footer li:hover {
    color: #993300; }

.footer li:hover {
  color: #aaaaaa; }

a {
  color: #333333;
  text-decoration: none; }

a:hover {
  color: #993300; }

.form label {
  padding: 4px;
  padding-left: 14px;
  color: #333333;
  font-weight: bold; }
.form input {
  font-size: 10px;
  padding: 2px;
  width: 390px; }
.form select {
  margin: 0px;
  width: 370px; }
.form input[type="checkbox"] {
  width: 25px; }
.form input[type="checkbox"] {
  width: 25px; }
.form textarea {
  width: 390px;
  padding: 2px;
  font-size: 10px;
  height: 100px; }
.form .row {
  clear: both;
  margin-top: 5px; }
  .form .row .attachment {
    padding: 5px 0px; }
.form .row.submit {
  margin-top: 15px; }
.form .errorSummary {
  padding: 15px;
  background-color: #c65b5b;
  border: 1px solid #993300; }
  .form .errorSummary p {
    font-weight: bold; }
  .form .errorSummary li {
    list-style-type: square;
    margin-left: 20px;
    margin-top: 5px; }

.notification {
  padding: 15px;
  background-color: #99ee44;
  border: 1px solid #993300;
  margin: 10px; }

.dashboard .entry, .task-list .entry {
  padding: 3px 10px; }
  .dashboard .entry h3, .task-list .entry h3 {
    font-size: 110%;
    color: #333333;
    cursor: pointer; }
  .dashboard .entry .subtitle, .task-list .entry .subtitle {
    margin: 3px 0px;
    display: block; }
  .dashboard .entry .entry-description, .task-list .entry .entry-description {
    margin-right: 50px;
    margin-left: 10px;
    font-size: 80%; }
    .dashboard .entry .entry-description h2, .task-list .entry .entry-description h2 {
      margin-top: 10px;
      margin-left: 15px; }
    .dashboard .entry .entry-description p, .task-list .entry .entry-description p {
      margin-left: 25px; }
  .dashboard .entry .entry-inline-info, .task-list .entry .entry-inline-info {
    display: table-row;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: -2px;
    font-size: 70%; }
    .dashboard .entry .entry-inline-info div.table-cell, .task-list .entry .entry-inline-info div.table-cell {
      vertical-align: middle;
      text-align: center;
      margin: 0px 10px;
      height: 20px;
      padding: 0px 10px; }
  .dashboard .entry .entry-content, .task-list .entry .entry-content {
    display: none; }
  .dashboard .entry:nth-child(2n), .task-list .entry:nth-child(2n) {
    background-color: #dedede; }
  .dashboard .entry:nth-child(2n+1), .task-list .entry:nth-child(2n+1) {
    background-color: #e6e6e6; }
.dashboard .entry-with-margins, .task-list .entry-with-margins {
  margin-bottom: 10px;
  margin-top: 10px; }
.dashboard ul.actions, .task-list ul.actions {
  float: right; }
  .dashboard ul.actions li, .task-list ul.actions li {
    margin: 4px; }

.task-actions {
  position: relative;
  top: -35px; }
  .task-actions li {
    margin: 0px 5px; }

strong {
  font-weight: bold; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.clear-both {
  clear: both; }

.table-row {
  display: table-row; }

.table-cell {
  display: table-cell; }

.hidden {
  display: none; }

.cursor {
  cursor: pointer; }

.padding-left-medium {
  padding-left: 10px; }

.grid-1 {
  width: 86px; }

.grid-2 {
  width: 182px; }

.grid-3 {
  width: 278px; }

.grid-4 {
  width: 374px; }

.grid-5 {
  width: 470px; }

.grid-6 {
  width: 566px; }

.grid-7 {
  width: 662px; }

.grid-8 {
  width: 758px; }

.grid-9 {
  width: 854px; }

.grid-10 {
  width: 950px; }

.column {
  margin: 0 5px 0 5px;
  overflow: hidden;
  float: left;
  display: inline; }

.grid-row {
  width: 960px;
  margin: 0 auto;
  overflow: hidden; }

.grid-row .grid-row {
  margin: 0 -5px 0 -5px;
  width: auto;
  display: inline-block; }
